<div class="container">
  <mat-card>
    <mat-card-content>
      <div>
        <img src="logo.png" alt="Logo" class="logo" />
        <h2>Feng Orders</h2>
      </div>

      <h4>Login</h4>

      <form>
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
          <mat-label>Senha</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>

        <button mat-raised-button class="btn-login" (click)="login()" [disabled]="isLoading">
          <ng-container *ngIf="isLoading">
            <mat-progress-spinner diameter="20" mode="indeterminate" style="color: rgb(255, 255, 255);"></mat-progress-spinner>
          </ng-container>
          <ng-container *ngIf="!isLoading">Entrar</ng-container>
        </button>

        <button mat-button class="btn-cadastro" (click)="goToCadastro()">Cadastre-se</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
